.navbar{

}

.navbarOne{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.searchBar > input{
    margin: 1vh;
    width: 30vw;
    height: 3.5vh;
}

.tabs{
    position: relative;
    display: flex;
    text-indent: 2vh;
}
.logo{
    height: 5vh;
    width: 2.5vw;
}