

.home{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7vh;
}

.homeImage{
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
}

.cardContainer{

}

.cardContainerOne, .cardContainerTwo{
    position: relative;
    display: flex;
    flex-flow: row;
}
