
.navbarOne{
    position: sticky;
    display: flex;
    background-color: #131921;
    padding: 0.4vh 2vh 1.5vh 0vh;
    font-size: 0.7rem;
}

.logo {
    object-fit: contain;
    margin: 1.6vh 2vh 0 2vh;
    width: 10vh;
}
.locationBar{
    display: flex;
    margin-top: 1vh;
}
.locationBar span{
    width: 13vh;
}

.locationBar .location span{
    font-size: 0.8rem !important;
    font-weight: 700;
}

.location{
    display: flex;
    flex-direction: column;
}

.searchBar{
    display: flex;
    margin-top: 1vh;
    height: 3.9vh;
    width: 100%;
}

.searchBar > input{
    padding: 0.6vh;
    border: none;
    width: 100%;
}

.searchBar  .searchBtn{
    background-color: orange;
    padding: 0.4vh;
    border-bottom-right-radius: 0.4vh;
    border-top-right-radius: 0.3vh;
}



.searchBar .searchList{
    font-size: 1.2vh;
    color: #333333;
    width: 3vw;
    padding: 0.6vh 0 0.6vh 0.6vh;
    border-color: #333;
    border-top-left-radius: 0.4vh;
    border-bottom-left-radius: 0.4vh;
}

.tabs{
    display: flex;
    justify-content: space-evenly;
}

.tabOne , .tabTwo{
    margin: 1vh 10px 0 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabThree{
    margin: 2vh 0 0 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabOne span{

    font-size: 0.8rem;
    font-weight: 700;
    width: 103px;
}

.tabTwo span{
    font-size: 0.8rem;
    font-weight: 700;
    width: 60px;
}
.tabThree span{
    font-weight: 700;
    margin-top: 1vh;
}
.tabThree .counter {
    margin-top: 0.5vh;
    color: orange;
    margin-left: 0.5vh;
    font-size: 15px;
    font-weight: 750;
}

.tabThree .cartIcon{
    font-size: 1.5rem;
}
.searchBar .searchBtn .searchIcon {
    font-size: 1.5rem;
}
.locationBar .locationIcon{
    font-size: 1.5rem;
}