.card{
    padding: 1.5vh;
    height: 500px;
    width: 350px;
    color: black;
    background-color: white;
    transform: translate(0,-25%);
    margin: 10px;
}

.imageContainer{
    margin: 1vh 0 1vh 0;
}

.image{
    width: 150px;
    margin: 3px;
}

